.divstyle{
    padding-top: 30px;
    height: 20px;
    margin-left: 40px;
    width: auto;
}
.input_style{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: content-box;
    border-color: 2px #008CBA;
    border-radius: 4px;
  }
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 8px 10px;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }